<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">


    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/shopping_bag"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SuperAdmin"
        tools:targetApi="31">
        <activity
            android:name=".Superadmin.Super_registro_admin_rest"
            android:exported="false" />
        <activity
            android:name=".Superadmin.super_gestion_usuarios"
            android:exported="false"
            android:label="@string/title_activity_super_gestion_usuarios"
            android:theme="@style/Theme.SuperAdmin.NoActionBar" />
        <activity
            android:name=".Superadmin.super_habilitar_usuarios"
            android:exported="false" />
        <activity
            android:name=".Superadmin.super_rest"
            android:exported="false" />
        <activity
            android:name=".Superadmin.super_estadisticas_por_rest"
            android:exported="true" />
        <activity
            android:name=".Superadmin.super_logs"
            android:exported="false" />
        <activity
            android:name=".Superadmin.super_estadisticas_general"
            android:exported="false" /> <!-- esta declarado pero ni idea que hace -->
        <activity android:name=".Superadmin.SuperPrincipalActivity" />
        <activity
            android:name=".splashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".SummaryActivity"
            android:exported="false" />
        <activity
            android:name=".CarActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ProductDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ProductsActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".Signup2Activity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />

        <activity
            android:name=".user.UserSummaryActivity"
            android:exported="false" />
        <activity
            android:name=".user.UserCarActivity"
            android:exported="false" />
        <activity
            android:name=".user.UserProductDetailActivity"
            android:exported="false" />
        <activity
            android:name=".user.UserProductsActivity"
            android:exported="false" />
        <activity
            android:name=".user.UserHomeActivity"
            android:exported="false" />
        <activity
            android:name=".user.UserCategoriesFragment"
            android:exported="false" />
        <activity
            android:name=".user.UserDesplegableActivity"
            android:exported="false" />
        <activity
            android:name=".user.UserHistorialActivity"
            android:exported="false" />

        <activity
            android:name=".PasswordRecoveryActivity"
            android:exported="false" />
        <activity
            android:name=".PasswordCodeActivity"
            android:exported="false" />
        <activity
            android:name=".PutPasswordActivity"
            android:exported="false" />

        <activity android:name=".HomePedidosActivity" android:exported="false" />
        <activity android:name=".CategoriesFragment" android:exported="false" />
        <activity android:name=".HomeRepartidorActivity" android:exported="false" />
        <activity android:name=".CategoriesFragmentRepartidor" android:exported="false" />
        <activity android:name=".ProductsRepartidorActivity" android:exported="false" />


        <activity
            android:name=".adminrest.RestaurantActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity android:name=".adminrest.MainActivity" android:exported="false" />
        <activity android:name=".adminrest.PedidosActivity" android:exported="false" />
        <activity android:name=".adminrest.DishesActivity" android:exported="false" />
        <activity android:name=".adminrest.GananciaActivity" android:exported="false" />
        <activity android:name=".adminrest.StatisticsActivity" android:exported="false" />
        <activity android:name=".adminrest.EditDishesActivity" android:exported="false" />
        <activity android:name=".adminrest.NewDishActivity" android:exported="false" />
        <activity android:name=".adminrest.OrderDetailsActivity" android:exported="false" />
        <activity android:name=".adminrest.NewRestaurantActivity"
                  android:exported="false"
                  android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".adminrest.ProfileRestActivity" android:exported="false" />

    </application>

</manifest>